rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fotos/{fotoId} {
      allow create: if request.resource.data.mesa is int
                    && request.resource.data.mesa >= 1
                    && request.resource.data.mesa <= 7;
      allow read, update, delete: if false; // solo admin vía Firebase Console
    }
  }
}
