rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /boda-guillermo-loren/{allPaths=**} {
      allow write: if request.resource.size < 15 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow read: if false; // solo admin vía Firebase Console
    }
  }
}
